<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./src/Config/Tests/bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="Config test suite">
            <directory suffix="Test.php">./src/Config/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./external</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <var name="DB_DSN" value="mysql:dbname=test;host=localhost" />
        <var name="DB_USER" value="test" />
        <var name="DB_PASSWD" value="test" />
        <var name="DB_DBNAME" value="test" />
        <var name="REDIS_HOST" value="localhost" />
        <var name="REDIS_PORT" value="" />
        <var name="REDIS_DB" value="2" />
        <var name="REDIS_PASS" value="" />
    </php>
</phpunit>